<div id="<%= dom_id normanpd %>">
  <p>
    <strong>First name:</strong>
    <%= normanpd.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= normanpd.last_name %>
  </p>

  <p>
    <strong>Business:</strong>
    <%= normanpd.business %>
  </p>

  <p>
    <strong>Address1:</strong>
    <%= normanpd.address1 %>
  </p>

  <p>
    <strong>Address2:</strong>
    <%= normanpd.address2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= normanpd.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= normanpd.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= normanpd.zip %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= normanpd.email %>
  </p>

  <p>
    <strong>Phone1:</strong>
    <%= normanpd.phone1 %>
  </p>

  <p>
    <strong>Phone2:</strong>
    <%= normanpd.phone2 %>
  </p>

  <p>
    <strong>Gatecode:</strong>
    <%= normanpd.gatecode %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= normanpd.notes %>
  </p>

</div>
